.section {
  padding: 0px 300px 70px 300px;
  color: #1a1a1a;
  position: relative;
}
.form {
  display: flex;
  flex-direction: row;
  row-gap: 17px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  height: fit-content;
}
.h1 {
  width: 80%;
  margin-bottom: 0;
}
.form > div > label {
  font-size: 1.2rem;
  font-family: sans-serif;
}
.form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}
.form > div > input,
.form > div > select,
.form > div > textarea {
  color: #1a1a1a;
  background: transparent;
  border: 1px solid #0c2e2b;
  outline: none;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
}
.form > div > select {
  height: 53px;
}

.fieldDesc {
  width: 100% !important;
}
.form > div > textarea {
  height: 150px;
  resize: none;
}
.button {
  text-decoration: none;
  color: #fdfaf8;
  background: #0c2e2b;
  width: 180px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: 0.5s ease-in-out;
}
.button:hover {
  background: #1a1a1a;
  color: #fdfaf8;
}
.btn {
  display: flex;
  width: 100% !important;

  align-items: flex-end;
}
.email {
  border-radius: 5px;
  border-top: #fdfaf8 4px solid;
  width: 60%;
  height: 40%;
  background: #0c2e2b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.email > h1 {
  color: #f5e8e0;
  font-size: 2rem;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.okButton {
  text-decoration: none;
  color: #0c2e2b;
  background: #fdfaf8;
  width: 180px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: 0.5s ease-in-out;
}
.okButton:hover {
  background: #f5e8e0;
  color: #0c2e2b;
}
@media (max-width: 1369px) {
  .h1 {
    font-size: 2rem;
  }
}
@media (max-width: 1293px) {
  .section {
    padding: 0px 250px;
  }
}
@media (max-width: 1193px) {
  .section {
    padding: 0px 200px;
  }
  .email {
    justify-content: center;
    gap: 50px;
  }
  .email > h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 1092px) {
  .section {
    padding: 0px 150px;
  }
}
@media (max-width: 993px) {
  .section {
    padding: 0px 100px;
  }
  .email {
    height: 30%;
  }
  .okButton {
    width: 160px;
    height: 45px;
  }
}
@media (max-width: 892px) {
  .h1 {
    font-size: 2rem;
    width: 60%;
  }
  .email {
    height: 25%;
    width: 70%;
  }
}
@media (max-width: 808px) {
  .h1 {
    font-size: 2rem;
    width: 80%;
  }
  .email {
    height: 25%;
    width: 80%;
  }
  .email>h1{
    font-size: 1.3rem; 
  }
  .okButton {
  
    width: 150px;
    height: 40px;
  }
}

@media (max-width: 655px) {
  .section {
    padding: 0px 50px;
  }
  .email {
    height: 25%;
    width: 85%;
  }
}
@media (max-width: 625px) {
  .h1 {
    font-size: 1.7rem;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 0px 30px;
  }
}
@media (max-width: 530px) {
  .email {
    height: 30%;
    width: 85%;
  }
  .email>h1{
    font-size: 1.2rem;
    text-align: center; 
  }
  .okButton {
  
    width: 150px;
    height: 40px;
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  .form > div > input,
  .form > div > select,
  .form > div > textarea {
    height: 2.5rem;
  }
  .form > div > textarea {
    height: 100px;
    resize: none;
  }
  .button {
    width: 160px;
    height: 45px;
    font-size: 1.4rem;
  }
  .btn {
    align-items: center;
  }
}
