.section {
  padding: 0px 300px 70px 300px;
  color: #1a1a1a;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  justify-content: center;
}
.div {
  width: 400px;
  padding: 20px;
  height: 100px;
  border: 1px #0c2e2b solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d382f;
}

.span1 {
  color: #fdfaf8;
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
}
.span2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #fdfaf8;
}
@media (max-width: 1629px) {

  .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
}

@media (max-width: 1369px) {
  .h1 {
    font-size: 2rem;
  }
  .p {
    font-size: 22px;
  }
  .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
}
@media (max-width: 1293px) {
  .section {
    padding: 0px 250px;
  }
}
@media (max-width: 1193px) {
  .section {
    padding: 0px 200px;
  }
}
@media (max-width: 1092px) {
  .section {
    padding: 0px 150px;
  }
}
@media (max-width: 993px) {
  .section {
    padding: 0px 100px;
  }
}
@media (max-width: 892px) {
  .h1 {
    font-size: 2rem;
    width: 60%;
  }
}
@media (max-width: 808px) {
  .h1 {
    font-size: 2rem;
    width: 80%;
  }
}

@media (max-width: 655px) {
  .section {
    padding: 0px 50px;
  }
}
@media (max-width: 625px) {
  .h1 {
    font-size: 1.7rem;
    width: 100%;
  }

  .p {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 0px 30px;
  }
  .container {

    gap: 30px;
  }
}

@media (max-width: 396px) {
  .span1 {
    font-size: 1.7rem;
  }
  .span2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 396px) {
  .span1 {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
  .span2 {
    font-size: 1.2rem;
    text-align: center;
  }
}
