.section {
  padding: 50px 300px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.threeEvent {
  display: flex;
  justify-content: center;
  column-gap: 190px;
  row-gap: 30px;
}

.rachwan {
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-position: center;
}

.infoEvent {
  border-radius: 500px 500px 0 0;
  display: flex;
  position: absolute;
  bottom: -450px;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}
.nameEvent {
  color: #fdfaf8;
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
}
.rachwan:hover > .infoEvent {
  bottom: 0px;
}
@media (max-width: 1369px) {
  .threeEvent {
    /* display: flex;
    justify-content: center; */
    /* flex-wrap: wrap; */
    /* column-gap: 190px; */
    /* row-gap: 30px; */
  }
  
}

@media (max-width: 1293px) {
  .section {
    padding: 0px 250px;
  }
}
@media (max-width: 1193px) {
  .section {
    padding: 0px 200px;
  }
}
@media (max-width: 1092px) {
  .section {
    padding: 0px 150px;
  }
}
@media (max-width: 993px) {
  .section {
    padding: 0px 100px;
  }
}

@media (max-width: 655px) {
  .section {
    padding: 0px 50px;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 0px 30px;
  }
}
