.section {
  margin: 0 300px;
}
.div {
  display: flex;
  justify-content: space-between;
}

.btn > a {
  text-decoration: none;
  color: #fdfaf8;
  background:#0c2e2b; 
  width: 180px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.btn {
  display: flex;
  width: 100% !important;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 15px;

}

.btn > a:hover {
  background:  #1a1a1a ;
  color: #fdfaf8;

}
