.section {
  padding: 50px 300px;
}
.article {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}
.isRiverce{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
flex-direction: row-reverse;
}
.img {
  width: 45%;
  height: 780px;
}
.aside {
  width: 50%;
}
.p {
  font-size: 1.6rem;
}
.h3 {
  font-family: Alex;
}
.ol {
  font-size: 1.3rem;
  font-family: Cormorant Garamond;
}
/*  */
.ol {
  counter-reset: my-counter;
  list-style: none;
}

.ol li {
  position: relative;
  margin-bottom: 10px;
}

.ol li::before {
  counter-increment: my-counter;
  content: counter(my-counter);
  position: absolute;
  left: -30px;
  top: -5px;
  font-size: 25px;
  /* font-weight: bold; */
}

.button {
  text-decoration: none;
  color: white;
  background: black;
  width: 180px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Cormorant Garamond;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 2px #fff7ea;
} 