.section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  overflow: hidden;
  margin-bottom: 15px;
}

.threeEvent {
  display: flex;
  justify-content: space-between;
}

.rachwan {
  width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 500px 500px 0 0;
  position: relative;
  overflow: hidden;
  background-position: center;
  cursor: pointer;
}

.infoEvent {
  border-radius: 500px 500px 0 0;
  display: flex;
  color: #fdfaf8;
  position: absolute;
  bottom: -450px;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(12, 46, 43, .7);
  transition: all 0.5s ease-in-out;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nameEvent {
  color: #fdfaf8;
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
}
.rachwan:hover > .infoEvent {
  bottom: 0px;
}
.loder {
  margin: 50px 300px;
  height: fit-content;
}
.p {
  font-size: 1.3rem;
  text-align: center;
  margin-inline: 20px;
  height: 386px;
  display: flex;
  align-items: center;
  color: #fdfaf8;

}
